<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>Pkg.LstProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>Servlets.logIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartDetails</servlet-name>
        <servlet-class>Servlets.cartDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emptyCart</servlet-name>
        <servlet-class>Servlets.Vacant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInfo</servlet-name>
        <servlet-class>Pkg.OrderInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>Pkg.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vacant</servlet-name>
        <servlet-class>Pkg.Vacant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartDetails</servlet-name>
        <url-pattern>/cartDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emptyCart</servlet-name>
        <url-pattern>/emptyCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInfo</servlet-name>
        <url-pattern>/OrderInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vacant</servlet-name>
        <url-pattern>/Vacant</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
